body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

*{
    padding: 0;
    margin: 0;
    text-orientation: none;
    list-style: none;
    box-sizing: border-box;
    

}

header{
    font-family: 'Karla', sans-serif;
}
nav{
    
    background: #ffffff ;
    width: 100%;
    height: 80px;
    border-bottom: 3px solid #efefefef;
   
}
.LogoJ {
    line-height: 80px;
    padding: 0 150px;
    
}

nav ul{
        float: right;
        margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    font-size: 18px;
    text-transform: Capitalize;
    text-decoration: none;
    margin-right: 20px;

}
nav ul li a{
    color: black;
    text-decoration: none;
}


.id_move {
    z-index: 100;
    
}
.id_move a{
    text-decoration: none;
}
.checkbtn {
    font-size: 30px;
    color: blanchedalmond;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    padding-top: 25px;
    display: none;
}
#check{
    display: none;
}

@media(max-width:858px){
    label.LogoJ{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
        
    }
}
@media(max-width:858px){    
    .checkbtn{
    display: block;
    }

ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .4s;
  }
nav ul li{
    display: block;
  }

nav ul li a{
    font-size: 15px;
    background: #f6f6f6;
}
#check:checked ~ ul{
    left: 0;;
}

}

@media(max-width:858px){ 
    #Modificar_Imagem{
        padding-right: 50px;
    }
}

img {
    height: auto;
    max-width: 100%;
}


main {

}

.logo {
    float: left;
    padding: 22px;
    width: 12%;
}

.primeiro_botao_in{
    font-family: "Karla", sans-serif;
    width: 154.45px;
    height: 48;
    background-color:#295e66;
    color: white;
    border-radius: 36px;
    border: 2px solid #295e66; /* Green */
    margin-bottom: 15%;
}


.flex_number{
    display :flex;
}
.text-m{
    padding-right: 8px;
}
.numeber_move{
    margin-left:  10%;
    margin-bottom:  2%;
    margin-top: 3%;
}

.b {
    display: flex;
}
.Sec1_bloco_2{
    display: flex;
}



.logoGd {
    width: 50%;
    padding-bottom: 15%;
    Margin: -10px;
    margin-bottom: 5%;
}

.Section_1{    
        font-family: 'Poppins', sans-serif;
        clear: both;
        font-weight:bold;   
        margin-top: 30%;
}

.Section_2{
    padding-top: 100px;
   
    clear: both;
    font-weight: 785;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    

}
.Section_2_2{
        
        font-size: 19px;
        line-height: 24px;
        letter-spacing: 0.02em;
        margin-top: -40px;
        
}
.div5{
    padding-left: 425px;

}

.Section_3{
    clear: both;
    font-weight: 850;
    font-family: "Karla", sans-serif;
    font-size: 40px;
    padding-top: 50px;
    padding-left: -80px;
    
}
.Section_4 {
    
        font-family: 'Poppins', sans-serif;
        clear: both;
        font-weight:bold;
        margin-top: 80px;
        margin-bottom: 80px;
   
}

.div1 {
    
   /*Borda   border: 2px solid red;  */
    padding: 25px;
}
.div2 {
    
    padding: 25px;
}
.div3 {
    
    padding: 25px;
}

#teste{
	width: 1150px;
	height: 500px;
	
}




.Quemsomos {
    padding-left: 95px;
    clear: both;
    font-weight: 700;
    font-size: 50px; 
}

.subtitulo {
    color: #222;
    font-family: "Karla", sans-serif;
}

 .subtitulo {  
    font-size: 12px;  
    line-height: 24px;  
    text-transform: uppercase;
    position: center;
    padding-left: 100px;
    line-height: 24px;
  
}

.subtitulo_2 {  
    font-size: 18px;   
    position: center;
    padding-left: 100px;
    line-height: 24px;
    color: #222222
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}



/*   

.Pro {
    font-size: 45px;
    padding: 45px;
    margin-bottom: 100px;
}

.Pro2 {
    margin-bottom: 50px;
    margin-left: 21px;
    font-size: 50px;
    
}
*/

#teste {   
    width: 1150;
    height: 545;
    background-color: #222222

}


.Section_5{
    padding-top: 25px;
    margin-bottom: 50px;
}

.postion_2 {

    padding-top:100px;
}

.Fonte_1{
    font-family: 'Poppins', sans-serif;
    clear: both;
    font-weight:bold;
}



#teste_2 {
    float: right;
    width: 1150;
    height: 140px;
    background-color: #eff0f1

    

}
.Fonte_2{
    font-size: 30px;
    padding-bottom: 25px;   
    padding: 35px;
}

#teste_3 {
    
    width: 1150px;
    height: 650px;
    background-color: #222222

}

.id_text{
    margin-right: 50px;
} 

.id_text_move{
padding-left:370px;
}

@media(max-width:858px){
    .teste_3{
        height: 800px;
    }
}
.in{
    width: 60%;
    
}
.move_for{
    margin-left:10%;
}
.button_sec4{

    width: 130.670px;
    height:58;
    background-color:#295e66;
    color: white;
    border: 2px solid #265E66;
    
    
}
.button_sec5{
    margin-top: 5%;
    margin-left: 1%;
    width: 120.670px;
    height:48;
    background-color:#295e66;
    color: white;
    border: 2px solid #265E66;
    
    
}


.text_bloco{
    margin-right: 20%;
    display:block;
}

.div4{
    padding-top: 45px;
   font-size: 32px;

}
.D_1{
   
    padding-left: 80px;
}


.position_form{
    margin-left: 20px;
    margin-top: 25px;
}

.corpo{
    width: 100%;
    
}

.conteudo{
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    
    padding: 5px;
}


.caixa{
    float: left;
    width: 80;
    margin: 0.5%;
}

.caixa6{
    width: 49%;

}




.primeiro_bloco {
    background-color : #265E66;
    width: 450.66px;
    height: 120px;
    display :flex; /* coloca os elementos um do lado do outro */
    
    justify-content: space-around; /* coloca espaços no meio e na lateral */
    align-items: center; /* faz os alinhamentos dos elementos do bloco */
    margin-top: 25px;

}
.primeiro_bloco:first-child {
    
    margin-top: 0px;
}

.move_contato{
    margin-top:10%;
    
}

.primeiro_botao{
    width: 130.670px;
    height: 48;
    background-color: white;
    color: black;
     border: 2px solid #265E66;
    border-radius: 36px;
}

.id_text_color{
    font-size: 16px;
    color: white;
    clear: both;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}


.total{
    display: flex;
    justify-content: space-between; /* coloca Somente espaços no meio */
}

@media (max-width:858px){
    .total{
        display: flex;
        flex-direction: column;
    }

    .bloco_esquerdo{
        margin-top: 25px;
    }
    
}



@media(max-width:858px){
    
    .conteudo{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .end_1{
        display: flex;
        flex-direction: column;
    }
}

.clearflix{
    clear: both;
    overflow: hidden;
}

.endereco li{
    line-height: 50px;
    font-style: italic;
    border-bottom: 1px #eee solid;
    list-style: none;
    text-align: left;
}
.endereco img{
    float: left;
    margin: 5px;
   
}

.endereco a:hover{
    color: rgb(236, 11, 11);
} 

input,textarea {
    width: 100%;
    padding: 15px;
    background: #e9e9e9;
    border: 1px solid #ddd;
    margin: 1%;
    text-align: left;
}

.d{
    margin-bottom: 50px;
}


